/* Global styles */
body {
  background-color: rgb(29 , 31 , 32);
  box-sizing: border-box;
  display: flex;
  font-family: Manrope, sans-serif;
  justify-content: center;
  margin: 0;
  padding: 0;
}

/* Words styles */
.newspaper {
  background-color: antiquewhite;
  font-family: Times New Roman, Times, serif;
  font-weight: 700;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url('./images/pink-pattern.png');
  color: fuchsia;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: skewX(10deg);
}

.skewright {
  transform: skewX(-10deg);
}

span {
  cursor: pointer;
}

.criar-carta {
  background-color: rgb(49 , 49 , 49);
  border: 2px solid white;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 10px 0;
  padding: 10px;
  text-transform: uppercase;
}

.carta-texto {
  background-color: rgb(49 , 49 , 49);
  border: 2px solid white;
  box-sizing: border-box;
  color: white;
  font-size: 1.1rem;
  padding: 15px;
  width: 100%;
}

.title {
  color: white;
  font-size: 2.5rem;
  text-align: center;
}

.general-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
